.sidebar {
    background: #ffffff;
    padding: 37px 36px 70px 28px;
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            max-width: 37px;
            max-height: 37px;
            margin-right: 8px;
        }
        h1 {
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.01em;
            color: #000000;
            margin-right: 4px;
            span {
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.01em;
                color: #838383;
            }
        }
    }
    .menu {
        margin-top: 64px;
        align-items: start;
        ul {
            padding-left: 7px;
            list-style: none;
            :nth-child(1) a {
                background-image: url(../img/icons/dashboard.svg);
            }
            :nth-child(2) a {
                background-image: url(../img/icons/product.svg);
            }
            :nth-child(3) a {
                background-image: url(../img/icons/customers.svg);
            }
            :nth-child(4) a {
                background-image: url(../img/icons/income.svg);
            }
            :nth-child(5) a {
                background-image: url(../img/icons/promote.svg);
            }
            :nth-child(6) a {
                background-image: url(../img/icons/help.svg);
            }
            li {
                width: 250px;
                height: 46px;
                :hover {
                    background-color: #5932ea;
                    border-radius: 8px;
                    color: #ffffff;
            }
                    img {
                        fill: #ffffff;
                        border-color: #ffffff;
                    }
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    background-repeat: no-repeat;
                    background-position: 11px 9px;
                    padding: 10px 12px 10px 44px;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #9197b3;
                    cursor: pointer;
                }
            }
        }
    }
    .info {
        margin-top: 597px;
        display: grid;
        grid-template-columns: 42px 101px;
        grid-template-rows: 21px 21px;
        grid-column-gap: 12px;
        &-photo {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
        }
        &-name {
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 0;
        }
        &-title {
            margin: 0;
            grid-column: 2 / 2;
            grid-row: 2 / 2;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #757575;
        }
    }

